<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/sample_logo.png" width="150px" class="user-avatar" style="background-color: white;"/>
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-content" >
                <div class="alert alert-block {{alert.alert_type}}" *ngIf="alert.success" dismisser="">
                    <h4 class="alert-heading">{{alert.title}}!</h4>
                    <p *ngIf="alert.msg">
                        {{alert.msg}}
                    </p>
                </div>

                <div class="form-group">
                    <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email"
                           placeholder="{{ 'Email' | translate }}" [(ngModel)]="model.email"
                           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Username is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control input-underline input-lg"
                           id="passward" placeholder="{{ 'Password' | translate }}"  [(ngModel)]="model.password"
                           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>

                    <div class="note">
                        <a [routerLink]="['/forgot-password']">Forgot password?</a>
                    </div>
                </div>
        </div>
        <button class="btn rounded-btn" type="submit">{{ 'Log in' | translate }}</button>&nbsp;&nbsp;
        <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>

        </div>
    </div>
</div>
