<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/sample_logo.png" class="user-avatar" width="150px" style="background-color: white;"/>
      <h1>Forgot Password</h1>
      <form [formGroup]="ForgotForm">
        <div class="alert alert-block {{alert.alert_type}}" *ngIf="alert.success" dismisser="">
          <h4 class="alert-heading">{{alert.title}}!</h4>
          <p *ngIf="alert.msg">
            {{alert.msg}}
          </p>
        </div>

        <div class="form-group">
          <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email"
                 placeholder="{{ 'Email' | translate }}" [(ngModel)]="model.email"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>

          <div class="note">
            <a routerLink="/login">Back to Login</a>
          </div>
        </div>


        <div class="form-group">
          <button class="btn rounded-btn">
            <a (click)="onSubmit()">{{ 'Reset Password' | translate }}</a>
          </button>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          &nbsp;
        </div>
      </form>

    </div>
  </div>
</div>
