// shared css for the login and signup page
@import "../login/login.component";

.role-dropdown{
  width: 100%;
  height: 46px;
  font-size: 18px;
  color: #949494;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
