<div class="container" style="padding-top: 60px;">
    <h1 class="">Edit Profile</h1><hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="{{this.profile_image}}" class="avatar img-circle img-thumbnail" alt="avatar">
                <input type="file" class="text-center center-block well well-sm choose-btn"
                       (change)="imageFinishedUploading($event);preview(file.files);">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h2 class="" style="margin-top: 20px;">Personal info</h2><hr style="margin-bottom: 25px;">
            <form [formGroup]="updateProfile" enctype="multipart/form-data" class="customform">
                <div class="row">
                <div class="form-group col-sm-12">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control"  formControlName="fname" type="text" [(ngModel)]="model.fname">
                    </div>
                    <div *ngIf="submitted && f.fname.errors" style="color: red">
                        <div *ngIf="f.fname.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" formControlName="lname"  type="text" [(ngModel)]="model.lname">
                    </div>
                    <div *ngIf="submitted && f.lname.errors" style="color: red">
                        <div *ngIf="f.lname.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" formControlName="email" type="text" [(ngModel)]="model.email">
                    </div>
                    <div *ngIf="submitted && f.email.errors" style="color: red">
                        <div *ngIf="f.email.errors.required">Email Name is required</div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" formControlName="name" type="text" [(ngModel)]="model.name" disabled>
                    </div>
                    <div *ngIf="submitted && f.name.errors" style="color: red">
                        <div *ngIf="f.name.errors.required">User Name is required</div>
                    </div>
                </div>

                <div class="form-group col-sm-12" style="border-top: 1px solid #e9ecef;">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8" style="margin-top: 20px;">
                      <input class="btn btn-danger pull-right" value="Cancel" style="margin-left: 10px;" type="reset">
                      &nbsp;&nbsp;
                        <input type="submit" class="btn btn-success pull-right" value="Save Changes" (click)="onSubmit()">


                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>