.customform input{height: inherit;}
.customform input .btn{width: auto !important;}
.customform input.btn-success{    background-color: #28a745;
  border-color: #28a745;color: #fff; width: auto;}
.customform input.btn-success:hover{background-color: #218838;}
.customform input.btn-danger{    background-color: #dc3545;width: auto;
  border-color: #dc3545;color: #fff !important;}
.customform input.btn-danger:hover{background-color: #c82333;}
