<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand">
        <span>{{'BuildingHelix'}}</span> </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <ul class="dropdown-menu-right bg-dropdown-right messages" ngbDropdownMenu>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link profile-icon" ngbDropdownToggle>
                   <img src="{{this.profile_image}}">
                </a>
                <div class="dropdown-menu-right bg-dropdown-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="openModal(template)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="openModal(template2)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Change Password' | translate }}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<!--model start here-->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Profile Update</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="updateProfile" class="customform" enctype="multipart/form-data" (click)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label><br>
                <input type="text" formControlName="email" id="email" [(ngModel)]="model.email" disabled/>
            </div>

            <div class="form-group">
                <label for="fname">First Name </label><br>
                <input type="text" formControlName="fname"  id="fname" [(ngModel)]="model.fname"
                       [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />
                <div *ngIf="submitted && f.fname.errors" style="color: red">
                    <div *ngIf="f.fname.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lname">Last Name </label><br>
                <input type="text" formControlName="lname"  id="lname" [(ngModel)]="model.lname"
                       [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
                <div *ngIf="submitted && f.lname.errors" style="color: red">
                    <div *ngIf="f.lname.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Profile Image </label><br>
                <div *ngIf="this.users.profile_photo;else defaultImg">
                    <img [src]="this.users.profile_photo" width="150px" height="150px" style="margin-bottom: 10px">
                </div>
                <ng-template #defaultImg>
                    <img src="assets/images/user.png" width="150px" height="150px" style="margin-bottom: 10px">
                </ng-template>
                <input #file type="file" formControlName="profile_image" accept='image/*' [(ngModel)]="model.profile_image" (change)="imageFinishedUploading($event);preview(file.files);">
            </div>
        </form>
    </div>
  <div class="modal-footer">
    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</ng-template>

<!--model start here-->
<ng-template #template2>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Change Password</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="changePassword" (click)="onSubmitChangePassword()" class="customform">

            <div class="form-group">
                <label for="new_password">New Password</label><br>
                <input type="text" formControlName="new_password"  id="new_password" [(ngModel)]="model2.new_password"
                       [ngClass]="{ 'is-invalid': submitted && c.new_password.errors }" />
                <div *ngIf="submitted && c.new_password.errors" style="color: red">
                    <div *ngIf="c.new_password.errors.required">This is required field</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label><br>
                <input type="text" formControlName="confirm_password"  id="confirm_password" [(ngModel)]="model2.confirm_password"
                       [ngClass]="{ 'is-invalid': submitted && c.confirm_password.errors }" />
                <div *ngIf="submitted && c.confirm_password.errors" style="color: red" >
                    <div *ngIf="c.confirm_password.errors.required">This is required field</div>
                    <div *ngIf="c.confirm_password.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
        </form>
    </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-success display-4">Submit</button>
      </div>



</ng-template>
