


.cid-qv5zASVtVD {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #efefef;
    width: 100%;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.cid-qv5zASVtVD .pricing {
    padding: 3.3rem;
    color: #767676;
    background-color: #fff;
}
.cid-qv5zASVtVD .plan-header, .cid-qv5zASVtVD .plan-body {
    background-color: #fff;
}
.cid-qv5zASVtVD .price-value {
    font-weight: 700;
    vertical-align: top;
}
.display-5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}
.cid-qv5zASVtVD .plan-header, .cid-qv5zASVtVD .plan-body {
    background-color: #fff;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}