<app-alert></app-alert>

<div [@routerTransition]>
    <div class="bg-title-main-wrapper">
        <h2 class=" ">Subscription</h2>
        <a class="btn rounded-btn" (click)="openModal(template)">+ Add Subcription</a>
    </div>
  <div class="col-md-12 pricing-wrapper-main" >
    <div class="row">

        <!--Dynamic content Code Started-->
        <section class="cid-qv5zASVtVD" id="pricing-tables3-23" data-rv-view="6391">
            <div class="container">
                <div class="media-container-row">
            <div class=" col-12 col-lg-4 col-md-6 my-4" *ngFor="let subscription of subscriptions; let i = index">

                <div class="pricing cube cubes">
                    <div class="plan-header plan-heading">
                        <div class="plan-icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="32px" height="41px">
                                <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                                      d="M31.185,38.194 C24.921,40.762 7.070,40.762 0.809,38.194 C0.304,37.986 -0.098,37.255 -0.010,35.298 C0.117,32.469 0.277,27.982 2.697,24.311 C2.697,24.311 3.387,23.349 5.024,22.711 C5.024,22.711 8.581,21.605 10.215,20.408 C10.215,20.408 10.975,20.972 10.964,20.931 C10.966,20.948 15.882,25.896 15.882,25.896 L16.115,25.896 L21.032,20.931 L21.779,20.408 C23.417,21.605 26.972,22.711 26.972,22.711 C28.611,23.349 29.300,24.311 29.300,24.311 C31.720,27.982 31.878,32.469 32.005,35.298 C32.092,37.255 31.692,37.986 31.185,38.194 ZM23.505,10.097 C23.940,10.686 23.770,11.800 23.614,12.539 C23.472,13.182 23.239,13.730 22.996,13.986 C22.407,17.208 19.791,21.273 16.098,21.458 C13.195,21.605 9.581,18.100 9.002,13.986 C8.759,13.729 8.551,13.315 8.415,12.676 C8.256,11.937 7.973,10.684 8.409,10.097 C8.470,10.010 8.545,9.939 8.626,9.884 C7.787,6.787 8.480,5.156 8.587,4.899 C10.073,1.268 13.293,-0.915 17.855,0.642 C19.400,1.169 21.109,1.837 22.339,3.168 C24.611,5.622 23.699,8.353 23.283,9.884 C23.313,9.910 23.478,10.066 23.505,10.097 Z"/>
                             </svg>
                        </div>
                        <div class="plan-name">
                           {{subscription.subscription_type}}
                        </div>
                    </div>
                    <div class="plan-body">
                        <p class="mbr-text mbr-fonts-style display-7" style="">
                            {{subscription.subscription_description}}
                        </p>
                        <div class="mbr-section-btn pt-4 text-center">
                            <p style="font-weight: bolder;font-size: 25px">
                                ${{subscription.subscription_charge}}
                            </p>
                            <div *ngIf="role == 1;else second">
                                <button (click)='performDeletion(subscription.id)' class="btn btn-danger btn-lg display-4">Delete</button>
                            </div>
                            <ng-template #second>
                                <a (click)="openModal1(payment,subscription.subscription_charge)" class="btn btn-primary display-4">BUY NOW</a>
                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </section>
  <!--Dynamic content Code-->

   
    </div>
  </div>
</div>

<!--model start here-->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Subscription</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="subscription" (click)="onSubmit()" class="customform">
            <div class="form-group">
                <label for="subscription_type">Subscription Type *</label><br>
                <input type="text" formControlName="subscription_type"  id="subscription_type" [(ngModel)]="model.subscription_type"
                           [ngClass]="{ 'is-invalid': submitted && f.subscription_type.errors }" />
                <div *ngIf="submitted && f.subscription_type.errors" style="color: red">
                    <div *ngIf="f.subscription_type.errors.required">Subscription Type is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="subscription_charge">Subscription Charges *</label><br>
                <input type="text" formControlName="subscription_charge"  id="subscription_charge" [(ngModel)]="model.subscription_charge"
                       [ngClass]="{ 'is-invalid': submitted && f.subscription_charge.errors }" />
                <div *ngIf="submitted && f.subscription_charge.errors" style="color: red">
                    <div *ngIf="f.subscription_charge.errors.required">Charges is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description *</label><br>
              <textarea rows="2" formControlName="description"  id="description" [(ngModel)]="model.description"
                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" style="color: red">
                    <div *ngIf="f.description.errors.required">Description is required</div>
                </div>
            </div><hr>
            <button type="submit" class="btn btn-success display-4 pull-right">Submit</button>
        </form>
    </div>
</ng-template>

<!--model start here-->
<ng-template #payment>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Subscribe</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="payment" (click)="onSubmit()">
           
            <div class="container">
    
            <div class="row">PAY :${{subscription_price}}</div>
            <!-- CREDIT CARD FORM STARTS HERE -->
                <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table" >
                        <div class="row display-tr" >
                            <h3 class="panel-title display-td" >Payment Details</h3>
                            <div class="display-td" >                            
                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                            </div>
                        </div>                    
                    </div>
                    <div class="panel-body">
                       
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="cardNumber">CARD NUMBER</label>
                                        <div class="input-group">
                                             <input 
                                                type="hidden"
                                                class="form-control"
                                                formControlName="subscribe_amount"
                                                [(ngModel)]="model.subscribe_amount"
                                            />
                                            <input 
                                                type="tel"
                                                class="form-control"
                                                 formControlName="cardNumber"
                                                placeholder="Valid Card Number"
                                                autocomplete="cc-number"
                                                required autofocus 
                                                 [(ngModel)]="model.cardNumber"
                                            />
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                        <input 
                                            type="tel" 
                                            class="form-control" 
                                            formControlName="cardExpiry"
                                            placeholder="MM / YY"
                                            autocomplete="cc-exp"
                                            required 
                                             [(ngModel)]="model.cardExpiry"
                                        />
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cardCVC">CV CODE</label>
                                        <input 
                                            type="tel" 
                                            class="form-control"
                                            formControlName="cardCVC"
                                            placeholder="CVC"
                                            autocomplete="cc-csc"
                                            required
                                             [(ngModel)]="model.cardCVC"
                                        />
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="subscribe btn btn-success btn-lg btn-block" type="button">Start Subscription</button>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-xs-12">
                                    <p class="payment-errors"></p>
                                </div>
                            </div>
                        
                    </div>
                </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->
            </div>
        </form>
    </div>
</ng-template>

