<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">

    <div class="profile-sidebar-wrapper" *ngIf="this.profile_image;else defaultImg">
        <div class="bg-profile-sidebar-image-wrapper">
            <img src="{{this.profile_image}}">
        </div>
        <ng-template #defaultImg>
            <img src="assets/images/user.png">
        </ng-template>
        <h4>{{user}}</h4>
        <h5>{{role}}</h5>
    </div>
    <div class="list-group">
        <a routerLink="/dashboard4" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>Dashboard</span>
        </a>
        <a routerLink="/list-building" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-building"></i>&nbsp;
            <span>Building Listings</span>
        </a>
        <a routerLink="/all-users" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>All Users</span>
        </a>
        <a routerLink="/update-profile" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-circle"></i>&nbsp;
            <span>My Profile</span>
        </a>
        <a routerLink="/subscription" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dollar"></i>&nbsp;&nbsp;
            <span>Subscription</span>
        </a>
        <!--<a routerLink="/queries" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
            <!--<i class="fa fa-fw fa-question-circle"></i>&nbsp;&nbsp;-->
            <!--<span>Queries</span>-->
        <!--</a>-->

        <hr class="sidebar-hr">
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Change Password' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
