/*!
 *   style -v 1.0.0
 *   Author: Bhautik Gajera
 */
body{
    background: #f1f3f8 !important; 
 }
 .bg-title-main-wrapper{
    width: 100%;
    /*display: block;*/
    /*margin-bottom: 15px;*/
    /*height: 38px;*/
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
   padding-bottom: 10px;
   padding-top: 10px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.125);
 }
 .bg-title-main-wrapper h2{
    color: #091023;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin-top: 5px;
 }
 .bg-title-main-wrapper a.btn, .bg-title-main-wrapper a.btn:active{
        background-image: -moz-linear-gradient( -180deg, rgb(17,207,255) 0%, rgb(17,160,252) 100%) !important;
        background-image: -webkit-linear-gradient( -180deg, rgb(17,207,255) 0%, rgb(17,160,252) 100%) !important;
        background-image: -ms-linear-gradient( -180deg, rgb(17,207,255) 0%, rgb(17,160,252) 100%) !important;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.04);
        float: right;
        color: white !important;
        border-radius: 50px;
        font-size: 15px;
        padding: 7px 30px;
 }
 .block-bg-wrapper{
    display: flex;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 15px;
 }
 .left-icon-wrapper{
    width: 110px;
    text-align: center;
    padding: 22px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
 }
 .left-icon-wrapper .icon-wrapper{
    background: white;
    width: 60px;
    height: 60px;
    margin: auto;
    text-align: center;
    border-radius: 100%;
    display: block;
    padding: 12px;
}
.right-box-detials-wrapper{
    width: calc(100% - 110px);
    padding: 15px;
    background: white;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.04);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.right-box-detials-wrapper .d-block{
    font-size: 16px;
    font-weight: 600;
}
.right-box-detials-wrapper .d-block.huge{
    font-size: 34px;
} 

.bg-pink {
    background-image: -moz-linear-gradient( -120deg, rgb(255,104,148) 0%, rgb(255,97,105) 100%);
    background-image: -webkit-linear-gradient( -120deg, rgb(255,104,148) 0%, rgb(255,97,105) 100%);
    background-image: -ms-linear-gradient( -120deg, rgb(255,104,148) 0%, rgb(255,97,105) 100%);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.04);
  }
  .bg-sky {
    background-image: -moz-linear-gradient( -120deg, rgb(17,207,255) 0%, rgb(17,160,252) 100%);
    background-image: -webkit-linear-gradient( -120deg, rgb(17,207,255) 0%, rgb(17,160,252) 100%);
    background-image: -ms-linear-gradient( -120deg, rgb(17,207,255) 0%, rgb(17,160,252) 100%);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.04);
  }
  .bg-green-light {
    background-image: -moz-linear-gradient( -120deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
    background-image: -webkit-linear-gradient( -120deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
    background-image: -ms-linear-gradient( -120deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.04);
  }
  .bg-green-drak {
    background-image: -moz-linear-gradient( -120deg, rgb(0,213,201) 0%, rgb(0,173,203) 100%);
    background-image: -webkit-linear-gradient( -120deg, rgb(0,213,201) 0%, rgb(0,173,203) 100%);
    background-image: -ms-linear-gradient( -120deg, rgb(0,213,201) 0%, rgb(0,173,203) 100%);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.04);
  }
  .bg-violate {
    background-image: -moz-linear-gradient( -120deg, rgb(202,158,255) 0%, rgb(152,86,238) 100%);
    background-image: -webkit-linear-gradient( -120deg, rgb(202,158,255) 0%, rgb(152,86,238) 100%);
    background-image: -ms-linear-gradient( -120deg, rgb(202,158,255) 0%, rgb(152,86,238) 100%);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.04);
  }
  .bg-orange {
    background-image: -moz-linear-gradient( -120deg, rgb(255,143,32) 0%, rgb(255,101,85) 100%);
    background-image: -webkit-linear-gradient( -120deg, rgb(255,143,32) 0%, rgb(255,101,85) 100%);
    background-image: -ms-linear-gradient( -120deg, rgb(255,143,32) 0%, rgb(255,101,85) 100%);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.04);
  }
  
  .left-icon-wrapper .icon-wrapper.icon-four, .left-icon-wrapper .icon-wrapper.icon-five, .left-icon-wrapper .icon-wrapper.icon-six{
    padding: 13px 9px;
  }

  .bg-card-wrapper .card-header h3{
    margin-bottom: auto;
  }
 
  .bg-card-wrapper table .bg-details-wrapper-dashboard{
    width: 320px;
  }
  
  .bg-card-wrapper table .bg-details-wrapper-dashboard .bg-user-detials-wrapper{
    width: 100%;
  }
  .bg-card-wrapper table .bg-details-wrapper-dashboard .bg-user-detials-wrapper .block-bg-wrapper{
    margin: auto;
  }
  .bg-card-wrapper table .bg-details-wrapper-dashboard .bg-user-detials-wrapper .right-box-detials-wrapper{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
  }
  .bg-card-wrapper table .bg-details-wrapper-dashboard .bg-user-detials-wrapper .left-icon-wrapper {
    width: 75px;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.bg-card-wrapper table .bg-details-wrapper-dashboard .bg-user-detials-wrapper .left-icon-wrapper img{
  max-width:100%
}
.bg-card-wrapper table .bg-details-wrapper-dashboard .bg-user-detials-wrapper .right-box-detials-wrapper .d-block {
  font-size: 15px;
  font-weight: 600;
  color: black
}
.bg-card-wrapper .card-header{
  background: white
}
.bg-card-wrapper table .bg-details-wrapper-dashboard .bg-user-detials-wrapper .right-box-detials-wrapper{
  background: #f5f6f6;
}
.bg-card-wrapper table .bg-details-wrapper-dashboard .bg-user-detials-wrapper .right-box-detials-wrapper .d-block.huge {
  font-size: 14px;
  color: black
}
.bg-card-wrapper table th{
  padding: 0.75rem;
  color: #0c0c0c;
  font-size: 14px;
  background: #f5f6f6;
  padding: 12px 10px !important;
}
.bg-card-wrapper table td{
  color: black;
    font-size: 14px;
    background: #f5f6f6;
  padding: 10px !important;
}
.bg-table-btn-wrapper .btn{
  background: black;
  color: white;
  border-radius: 20px;border:1px solid transparent;
  padding: 0px 32px;
  height: 35px;float: left;
  display: flex;justify-content: center;align-items: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
}
.bg-table-btn-wrapper .btn:nth-child(1){margin-right: 10px;}
.bg-table-btn-wrapper .btn:hover{background: transparent;border:1px solid #000;color: #000;}
.pricing-wrapper-main .cid-qv5zASVtVD{
  background: transparent !important;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../../assets/fonts/roboto-light.woff2") format("woff2"), url("#{$roboto-font-path}/roboto-light.woff") format("woff"), url("#{$roboto-font-path}/roboto-light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../../assets/fonts/roboto-regular.woff2") format("woff2"), url("#{$roboto-font-path}/roboto-regular.woff") format("woff"), url("#{$roboto-font-path}/roboto-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../../assets/fonts/roboto-medium.woff2") format("woff2"), url("#{$roboto-font-path}/roboto-medium.woff") format("woff"), url("#{$roboto-font-path}/roboto-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../assets/fonts/roboto-bold.woff2") format("woff2"), url("../../assets/fonts/roboto-bold.woff") format("woff"), url("../../assets/fonts/roboto-bold.ttf") format("truetype");
}
.cube {
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 padding: 2px 2px !important;
}
.media-container-row{
  display: flex;flex-wrap: wrap;height: 100%;}
.cubes{background-position: 0 0, 0 100%;display: flex;flex-wrap: wrap;flex-direction: column;height: 100%;
  background-repeat: no-repeat;
  border: 2px solid #11a7fd;background-color:#f1f3f8 !important;
  /*background-image: linear-gradient(to left, rgb(255,104,148) 0%, rgb(255,97,105) 100%), linear-gradient(to left, rgb(255,104,148) 0%, rgb(255,97,105) 100%);*/}

.cube-0 {
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient( 180deg, rgb(255,104,148) 0%, rgb(255,97,105) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(255,104,148) 0%, rgb(255,97,105) 100%);
  /*background-image: linear-gradient(to left, rgb(255,104,148) 0%, rgb(255,97,105) 100%), linear-gradient(to left, rgb(255,104,148) 0%, rgb(255,97,105) 100%);*/
  background-image: -webkit-linear-gradient(-180deg, rgb(17, 207, 255) 0%, rgb(17, 160, 252) 100%)
}
.cube-1 {
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient( 180deg, rgb(17,207,255) 0%, rgb(131,120,255) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(17,207,255) 0%, rgb(131,120,255) 100%);
  /*background-image: linear-gradient(to left, rgb(17,207,255) 0%, rgb(131,120,255) 100%), linear-gradient(to left, rgb(88,168,255) 0%, rgb(131,120,255) 100%);*/
  background-image: -webkit-linear-gradient(-180deg, rgb(17, 207, 255) 0%, rgb(17, 160, 252) 100%)
}
.cube-2 {
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient( 180deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
  /*background-image: linear-gradient(to left, rgb(0,217,188) 0%, rgb(0,216,121) 100%), linear-gradient(to left, rgb(0,217,188) 0%, rgb(0,216,121) 100%);*/
  background-image: -webkit-linear-gradient(-180deg, rgb(17, 207, 255) 0%, rgb(17, 160, 252) 100%)
}




.pricing.cube .plan-heading{
  /*background-image: -webkit-linear-gradient( 180deg, rgb(255,104,148) 0%, rgb(255,97,105) 100%);*/
  /*background-image: -webkit-linear-gradient( 180deg, rgb(255,104,148) 0%, rgb(255,97,105) 100%);*/
  background-image: -ms-linear-gradient( 180deg, rgb(255,104,148) 0%, rgb(255,97,105) 100%);
  /*background-image: linear-gradient(to left, rgb(255,104,148) 0%, rgb(255,97,105) 100%), linear-gradient(to left, rgb(255,104,148) 0%, rgb(255,97,105) 100%);*/
  background-image: -webkit-linear-gradient(-180deg, rgb(17, 207, 255) 0%, rgb(17, 160, 252) 100%);
  color: white;
  padding: 25px 15px;
  position: relative;
}
.pricing.cube .plan-header-2{
  background-image: -webkit-linear-gradient( 180deg, rgb(17,207,255) 0%, rgb(131,120,255) 100%);
  /*background-image: -webkit-linear-gradient( 180deg, rgb(17,207,255) 0%, rgb(131,120,255) 100%);*/
  background-image: -ms-linear-gradient( 180deg, rgb(17,207,255) 0%, rgb(131,120,255) 100%);
  /*background-image: linear-gradient(to left, rgb(17,207,255) 0%, rgb(131,120,255) 100%), linear-gradient(to left, rgb(88,168,255) 0%, rgb(131,120,255) 100%);*/
  background-image: -webkit-linear-gradient(-180deg, rgb(17, 207, 255) 0%, rgb(17, 160, 252) 100%);
  color: white;
  padding: 25px 15px;
  position: relative;
}
.pricing.cube .plan-header-3{
  background-image: -moz-linear-gradient( 180deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
  /*background-image: -webkit-linear-gradient( 180deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);*/
  background-image: -ms-linear-gradient( 180deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
  /*background-image: linear-gradient(to left, rgb(0,217,188) 0%, rgb(0,216,121) 100%), linear-gradient(to left, rgb(0,217,188) 0%, rgb(0,216,121) 100%);*/
  background-image: -webkit-linear-gradient(-180deg, rgb(17, 207, 255) 0%, rgb(17, 160, 252) 100%);
  color: white;
  padding: 25px 15px;
  position: relative;
}
.pricing.cube .plan-header .plan-icon{
  text-align: center;
}
.pricing.cube .plan-header .plan-name{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;margin-top: 10px;
}
.pricing.cube .plan-body{
  background: #f1f3f8 !important;
  padding: 25px 15px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pricing.cube .plan-body p{
  color: #091023;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
}
.pricing.cube .plan-body a.btn{
  background-image: -moz-linear-gradient( 180deg, rgb(0, 217, 185) 0%, rgb(34, 200, 255) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(0, 217, 185) 0%, rgb(34, 200, 255) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(0, 217, 185) 0%, rgb(34, 200, 255) 100%);
  background-image: linear-gradient(to left, rgb(0, 217, 185) 0%, rgb(34, 200, 255) 100%), linear-gradient(to left, rgb(0, 217, 185) 0%, rgb(34, 200, 255) 100%);
  color: white;
  padding: 12px 24px;
  border: 0px;
  border-radius: 30px;
  font-size: 14px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 150px;
}
.pricing.cube .plan-body a.btn:hover{
  background-image: -moz-linear-gradient( 180deg, rgb(152,86,238) 0%, rgb(202,158,255) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(152,86,238) 0%, rgb(202,158,255) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(152,86,238) 0%, rgb(202,158,255) 100%);
  background-image: linear-gradient(to left, rgb(152,86,238) 0%, rgb(202,158,255) 100%), linear-gradient(to left, rgb(131,120,255) 0%, rgb(202,158,255) 100%);
}
.bg-discount{
  position: absolute;
  right: -50px;
  top: -50px;
}

.cube.new-cube{
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient( 180deg, rgb(17,207,255) 0%, rgb(131,120,255) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(17,207,255) 0%, rgb(131,120,255) 100%);
  background-image: linear-gradient(to left, rgb(17,207,255) 0%, rgb(131,120,255) 100%), linear-gradient(to left, rgb(88,168,255) 0%, rgb(131,120,255) 100%);
  background-image: linear-gradient(#09065a 30%,#280f96);
}
.cube.new-cube .plan-header{
  background-image: -moz-linear-gradient( 180deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
  background-image: linear-gradient(to left, rgb(0,217,188) 0%, rgb(0,216,121) 100%), linear-gradient(to left, rgb(0,217,188) 0%, rgb(0,216,121) 100%);
  color: white;
  padding: 25px 15px;
  position: relative;
  background-image: linear-gradient(#09065a 30%,#280f96);
}
.profile-icon img{
  width: 30px;
    border-radius: 100%;
}
.navbar-expand-lg .navbar-nav .dropdown-menu-right.bg-dropdown-right {
  right: 0;
  left: auto !important;
}
.sidebar-hr{
  float: left;
    width: 100%;
    border-top: 1px solid #868e96;
}
.profile-sidebar-wrapper{
  display: block;
  margin: 20px auto;
}
.bg-profile-sidebar-image-wrapper{
  background-image: -webkit-linear-gradient( -120deg, rgb(17,207,255) 0%, rgb(17,160,252) 100%);
  border-radius: 100%;
  padding: 2px;
  width: 100%;
  max-width: 84px;
  margin: auto;
}
.bg-profile-sidebar-image-wrapper img{
  width: 100%;
    border-radius: 100%;
    padding: 4px;
    background: #212121;
}
.profile-sidebar-wrapper h4{
  color: white;
  text-align: center;
  font-size: 13px;
  margin: 6px auto;
  font-weight: 600;
}
.profile-sidebar-wrapper h5{
  color: white;
  text-align: center;
  font-size: 13px;
  margin: 6px auto;
}
.sidebar .list-group a.router-link-active, .sidebar .list-group a:hover {
  color: #fff;
  background-image: -webkit-linear-gradient( -180deg, rgb(17,207,255) 0%, rgb(17,160,252) 100%) !important;
}
.sidebar .list-group a.list-group-item {
  font-size: 16px;
  font-weight: 500;
}
.form-group label{font-size: 14px;
  color: #272727;
  font-weight: 600;}
.customform .form-group{margin-bottom: 20px;}
.customform input{background: #f0f0f0;border: 1px solid #dcdcdc;font-size: 14px;width: 100%;border-radius: 4px;
  padding: 0.675rem 0.75rem;}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 2rem;
  margin-left: 0.255em;
  vertical-align: middle !important;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.table td img{border-radius: 4px;float: left;margin-right: 15px;}

.card-title{font-family: "Roboto";font-weight: 700;}
.inner-table tr td{background-color: #f5f6f6;}
.inner-table th{border-top: 0 !important;border-bottom: 2px solid #efeded;font-family: "Roboto";font-weight: 500;
color: #8b8b92 !important;font-size: 14px !important;}

.inner-table td{font-family: "Roboto";font-weight: 500;font-size: 16px !important;
  color: #2f3853 !important;}
card-header > .card-tools {top: .7rem !important;}
.header-title{color: rgb(9, 16, 35);font-size: 20px;font-weight: 600;display: inline-block;margin-top: 5px;
}
.form-title{margin: 0 0px 15px !important;    font-size: 18px;border-bottom: 1px solid #353451;
  padding-bottom: 10px;color: #333333;font-family: "Roboto";font-weight: 500;}
.add-btn{    background-image: -webkit-linear-gradient(-180deg, rgb(17, 207, 255) 0%, rgb(17, 160, 252) 100%) !important;
  border-radius: 50% !important;width: 25px;height: 25px;display: flex !important;justify-content: center;color: #fff;
padding: 0 !important;}
.add-btn i{color: #fff;}

.progressbar{display: flex;align-items: center;}
.progress-outer{background-color: transparent !important;border:1px solid transparent !important;padding: 0 !important;height: 25px;}
.progress-inner{background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;height: 23px;font-size:12px;display: flex;justify-content: center;align-items: center;font-weight: 700;
  /*animation: 1s linear infinite progress-bar-stripes;*/
}
.link{text-decoration: underline;color: #11cfff;font-family: "Roboto";font-weight: 400;margin-top: 3px;
  font-size: 14px;float: left;width: 400px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.copybtn{font-size: 14px !important;font-weight: 400 !important;font-family: 'Roboto';}
.search-input{padding: 10px;font-size: 17px;border: 1px solid grey;float: left;width: 90% !important;background: #f1f1f1;
margin-bottom: 20px;}
.search-btn{float: left;width: 10%;  padding: 0px;height: 36px;
  background: #2196F3;color: white;font-size: 17px;border: 1px solid transparent;border-left: none;cursor: pointer;}
.modal-select{padding: 7px;font-size: 15px;border: 1px solid #dcdcdc;float: left;background: #f1f1f1;}
.modal-delete{display: flex;align-items: center;justify-content: center;height: 36px;}
.modal-delete i{
  font-size: 16px;}
.form-group textarea{width: 100%;font-size: 14px;
  width: 100%;background: rgb(240, 240, 240);border-width: 1px;
  border-style: solid;border-color: rgb(220, 220, 220);border-image: initial;border-radius: 4px;padding: 0.675rem 0.75rem;}
.choose-btn{background: #f0f0f0;border: 1px solid #dcdcdc;font-size: 14px;border-radius: 4px;padding: 0.675rem 0.75rem;}


@media (max-width: 768px){
  .customform .col-sm-6{flex:0 0 50% !important;max-width:50% !important;}
  /*.customform .col-sm-3{flex: 0 0 25%;max-width: 25%;}*/
}
