<div class="col-xl-12">
  <div class="row">
    <div class="card col-xl-12 p-0 bg-card-wrapper" >
      <div class="card-header border-transparent ">
        <h2 class="card-title" style="height: 26px">All Users</h2>
        <div class="card-tools bg-table-btn-wrapper">
          <button type="button" class="btn" > view all
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table m-0">
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
            <tr  *ngFor="let user of users; let i = index">
              <td>{{user.id}}</td>
              <td>{{user.fname}}</td>
              <td>{{user.lname}}</td>
              <td>{{user.email}}</td>
              <td>
                <ng-template [ngIf]="user.role == 1">Admin</ng-template>
                <ng-template [ngIf]="user.role == 2">Architect</ng-template>
                <ng-template [ngIf]="user.role == 3">Landlord</ng-template>
                <ng-template [ngIf]="user.role == 4">Broker</ng-template>
              </td>
              <td>
                <ng-template [ngIf]="user.is_active == 0">Inactive</ng-template>
                <ng-template [ngIf]="user.is_active == 1">Active</ng-template>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.col -->
  </div>
</div>
