<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/sample_logo.png" width="150px" style="background-color: white;"/>
            <h1>Sign Up</h1>
            <form [formGroup]="signup">
                <div class="form-content" >
                    <div class="form-group">
                        <input type="text" formControlName="fname" class="form-control input-underline input-lg" id="fname"
                               placeholder="{{ 'First Name' | translate }}" [(ngModel)]="model.fname"
                               [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"/>
                        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                            <div *ngIf="f.fname.errors.required">First name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="lname" class="form-control input-underline input-lg" id="lname"
                               placeholder="{{ 'Last Name' | translate }}" [(ngModel)]="model.lname"
                               [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"/>
                        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                            <div *ngIf="f.lname.errors.required">Last name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email"
                               placeholder="{{ 'Email' | translate }}" [(ngModel)]="model.email"
                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <!--  <div class="form-group">
                        <input type="number" formControlName="mobile" class="form-control input-underline input-lg" id="mobile"   
                               placeholder="{{ 'Contact Number' | translate }}" [(ngModel)]="model.mobile"
                               [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"/>
                        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                            <div *ngIf="f.mobile.errors.required">Contact Number is required</div> -->
                            <!-- <div *ngIf="f.mobile.errors.maxlength">Contact Number should not be more than 10 digits</div> -->
                        <!-- </div>
                    </div> -->

                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control input-underline input-lg"
                               id="password" placeholder="{{ 'Password' | translate }}" [(ngModel)]="model.password"
                               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                    <input type="password" formControlName="c_password" class="form-control input-underline input-lg"
                           id="c_password" placeholder="{{ 'Re-enter Password' | translate }}" [(ngModel)]="model.c_password"
                           [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }"/>
                    <div *ngIf="submitted && f.c_password.errors" class="invalid-feedback">
                        <div  *ngIf="f.c_password.errors.required">Re-Password is required</div>
                        <div *ngIf="f.c_password.errors.mustMatch">Passwords must match</div>
                    </div>
                   </div>

                    <div class="form-group">
                            <select name="role" formControlName="role"
                                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
                                    [(ngModel)]="model.role"  class="btn btn-sm dropdown-toggle role-dropdown"
                                     >
                                <option [ngValue]="undefined" disabled  selected>Please Select Role</option>
                                <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                            </select>
                        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                            <div *ngIf="f.role.errors.required">Role is required</div>
                        </div>
                    </div>

                </div>
                <a class="btn rounded-btn" (click)="onSubmit()">{{ 'Register' | translate }}</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
            </form>
        </div>
    </div>
</div>
