<h2 class="header-title">Add New Building</h2>
<hr>
<div class="jumbotron" style="background-color: #d4d5d5;">

    <form [formGroup]="addBuildingForm" class="customform">
        <div class="row form-title">
            Building
        </div>
        <div class="row" style="align-items: center;">
            <div class="col-md-3">
                <div draggable="true" ngClass="{{dragAreaClass}}">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="javascript:void(0)" (click)="file.click()">
                                <img [src]="imgURL" width="100%" height="100%">
                            </a>
                            <input type="file" #file
                                   (change)="onFileChange($event)" style="display:none"/>
                        </div>
                    </div>
                </div>
            </div>

          <div class="col-md-9">
            <div class="col-md-3 col-sm-6 form-group">
                <label for="building_name">Building Name *</label>
                <input type="text" formControlName="building_name" id="building_name"
                       placeholder="{{ 'building_name' | translate }}" [(ngModel)]="model.building_name"
                       [ngClass]="{ 'is-invalid': submitted && f.building_name.errors }"/>
                <div *ngIf="submitted && f.building_name.errors" style="color: red">
                    <div *ngIf="f.building_name.errors.required">Building Name is required</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
                <label for="owner_name">Owner Name *</label>
                <input type="text" formControlName="owner_name" id="owner_name"
                       placeholder="{{ 'owner_name' | translate }}" [(ngModel)]="model.owner_name"
                       [ngClass]="{ 'is-invalid': submitted && f.owner_name.errors }"/>
                <div *ngIf="submitted && f.owner_name.errors" style="color: red">
                    <div *ngIf="f.owner_name.errors.required">Building Name is required</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
                <label for="owner_contact">Owner Contact *</label>
                <input type="text" formControlName="owner_contact" id="owner_contact"
                       [(ngModel)]="model.owner_contact" placeholder="{{ 'owner_contact' | translate }}"
                       [ngClass]="{ 'is-invalid': submitted && f.owner_contact.errors }"/>
                <div *ngIf="submitted && f.owner_contact.errors" style="color: red">
                    <div *ngIf="f.owner_contact.errors.required">Building Name is required</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
                <label for="floor_counts">Floor Count *</label>
                <input type="text" formControlName="floor_counts" id="floor_counts"
                       [(ngModel)]="model.floor_counts" placeholder="{{ 'floor_counts' | translate }}"
                       [ngClass]="{ 'is-invalid': submitted && f.floor_counts.errors }"/>
                <div *ngIf="submitted && f.floor_counts.errors" style="color: red">
                    <div *ngIf="f.floor_counts.errors.required">Building Name is required</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
              <label for="building_address">Building Address Line *</label><br>
              <input type="text" formControlName="building_address" id="building_address"
                     [(ngModel)]="model.building_address" placeholder="{{ 'building_address' | translate }}"
                     [ngClass]="{ 'is-invalid': submitted && f.building_address.errors }"/>
              <div *ngIf="submitted && f.building_address.errors" style="color: red">
                <div *ngIf="f.building_address.errors.required">Building Address is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
              <label for="city"> City *</label><br>
              <input type="text" formControlName="city" id="city"
                     [(ngModel)]="model.city" placeholder="{{ 'city' | translate }}"
                     [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>
              <div *ngIf="submitted && f.city.errors" style="color: red">
                <div *ngIf="f.city.errors.required">City is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
              <label for="state"> State *</label><br>
              <input type="text" formControlName="state" id="state"
                     [(ngModel)]="model.state" placeholder="{{ 'state' | translate }}"
                     [ngClass]="{ 'is-invalid': submitted && f.state.errors }"/>
              <div *ngIf="submitted && f.state.errors" style="color: red">
                <div *ngIf="f.state.errors.required">State is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
              <label for="zip_code">Zip Code *</label><br>
              <input type="text" formControlName="zip_code" id="zip_code"
                     [(ngModel)]="model.zip_code" placeholder="{{ 'zip_code' | translate }}"
                     [ngClass]="{ 'is-invalid': submitted && f.zip_code.errors }"/>
              <div *ngIf="submitted && f.zip_code.errors" style="color: red">
                <div *ngIf="f.zip_code.errors.required">Zip Code is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
              <label for="country">Country *</label><br>
              <input type="text" formControlName="country" id="country"
                     [(ngModel)]="model.country" placeholder="{{ 'country' | translate }}"
                     [ngClass]="{ 'is-invalid': submitted && f.country.errors }"/>
              <div *ngIf="submitted && f.country.errors" style="color: red">
                <div *ngIf="f.country.errors.required">Country is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 form-group">
              <label for="coordinates">Coordinates *</label><br>
              <input type="text" formControlName="coordinates" id="coordinates"
                     [(ngModel)]="model.coordinates" placeholder="{{ 'coordinates' | translate }}"
                     [ngClass]="{ 'is-invalid': submitted && f.coordinates.errors }"/>
              <div *ngIf="submitted && f.coordinates.errors" style="color: red">
                <div *ngIf="f.coordinates.errors.required">Coordinates is required</div>
              </div>
            </div>
          </div>
        </div>
        <!--<br>-->
        <!--<div class="row">-->
            <!--Building Address-->
        <!--</div>-->
        <!--<hr>-->

        <br>
      <br>

        <div class="row form-title">
            Floor Description
        </div>

        <div formArrayName="floors"
             *ngFor="let creds of addBuildingForm.get('floors').controls; let i = index">
          <div class="customform">
            <div class="row"  [formGroupName]="i">
                <div class="col-md-2 col-sm-6 form-group" >
                    <label>Floor Description *</label>
                    <input type="text" formControlName="floor_description"
                           placeholder="{{ 'floor_description' | translate }}"
                           [ngClass]="{ 'is-invalid': submitted && !this.addBuildingForm.get('floors').controls[i].valid }"/>
                    <div *ngIf="submitted && !this.addBuildingForm.get('floors').controls[i].controls.floor_description.valid" style="color: red">
                        <div>Floor Description is required</div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 form-group">
                  <label> &nbsp;</label>
                    <input type="file" (change)="fileChange($event,i)"  formControlName="upload_files"
                           required ='required'/>
                    <div *ngIf="submitted && !this.addBuildingForm.get('floors').controls[i].controls.upload_files.valid" style="color: red">
                        <div>File is required</div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 form-group">
                  <label class="hidden-sm"> &nbsp;</label><br class="hidden-sm">
                    <div *ngIf="i!==0" class="plus-minus-btn">
                        <button type="button" class="btn btn-default add-btn" (click)="removeCurrentField(i)"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <div *ngIf="i==0"  class="plus-minus-btn">
                        <button type="button" class="btn btn-default add-btn" (click)="addCreds()"><i class="fa fa-plus"></i>
                        </button>&nbsp;Add More
                    </div>
                </div>
                <progress-bar class="col-sm-3 progressbar" [progress]="progress[i]" [color-degraded]="{'0': '#dc3545',  '15': '#ffc107', '25': '#28a745'}" style="width: 45%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </progress-bar>
                <!--<button type="button"><i class="fa fa-refresh"></i>-->
                <!--</button>-->
            </div>
          </div>
        </div>

        <hr>
        <button type="submit" style="margin-bottom: 20px" class="btn btn-success display-4 pull-right" (click)="onSubmit()">Submit</button>
    </form>
</div>
