
#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.error{ color: #f00; }
.dragarea{
  font-size: 24px;
  //border: 3px solid #bbb;
  //padding: 20px ;
  background-color: #fff;
  border-radius: 4px;
  color: #1c7430;
}
.droparea{
  font-size: 24px;
  border: 3px dashed #bbb;
  padding: 20px ;
  background-color: #eff;
  color: #0b2e13;
}
.plus-minus-btn{height: 36px;display: flex;align-items: center;
  font-family: 'Roboto'; font-weight: 500;font-size: 16px;}
.jumbotron{padding: 3rem 2rem 6rem;}
.progress-inner[_ngcontent-c5]{background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;}


