.attachment_list{padding: 0px; margin: 0px;}
.attachment_list li{display: inline-block; margin: 1%;  border:1px solid #ddd; padding: 10px;height: 150px;}
.attachment_list li img{    width: 100%;
  height: auto;
  max-height: 71px;
  max-width: 70px;
  margin: auto;
  float: none;}
.attachment_list li h4{word-break: break-all;
  font-size: 12px;}
.scroll_max{
  overflow-y: scroll;
  max-height: 600px;
}