<div [@routerTransition]>
  <div class="bg-title-main-wrapper">
      <h2 class=" ">Dashboard</h2>
      <a class="btn" routerLink="/add-building"> <i class="fa fa-plus" aria-hidden="true"></i> Add Building</a>
  </div>
  

  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <div class="row">
        <div class="col-xl-12 col-lg-12"> 
            <div class="row">
                <div class="col-xl-12">
                  <div class="block-bg-wrapper">
                    <div class="left-icon-wrapper bg-pink">
                      <div class="icon-wrapper icon-one">
                        <svg 
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="28px" height="28px">
                      <defs>
                      <linearGradient id="PSgrad_0" x1="50%" x2="0%" y1="0%" y2="86.603%">
                        <stop offset="0%" stop-color="rgb(255,104,148)" stop-opacity="1" />
                        <stop offset="100%" stop-color="rgb(255,97,105)" stop-opacity="1" />
                      </linearGradient>
                      
                      </defs>
                      <path fill-rule="evenodd"  fill="rgb(229, 88, 101)"
                        d="M27.533,28.000 L16.159,28.000 C16.151,28.000 16.145,27.996 16.138,27.996 L11.842,27.999 C11.842,27.999 11.842,28.000 11.842,28.000 L11.667,28.000 L11.667,28.000 L0.466,28.000 C0.209,28.000 -0.000,27.791 -0.000,27.533 L-0.000,25.538 C-0.000,24.570 0.532,23.690 1.387,23.240 C4.186,21.767 6.328,20.949 8.230,20.626 L8.023,20.341 C7.942,20.229 7.914,20.088 7.947,19.954 L8.380,18.221 C7.220,16.584 6.533,14.539 6.533,12.600 L6.533,10.733 L6.067,10.733 L5.133,10.733 C4.876,10.733 4.667,10.524 4.667,10.267 C4.667,10.009 4.876,9.800 5.133,9.800 L5.600,9.800 L5.600,9.333 C5.600,8.033 5.907,6.809 6.455,5.719 L10.645,6.525 C10.674,6.531 10.704,6.533 10.733,6.533 C10.856,6.533 10.975,6.485 11.063,6.397 C11.172,6.287 11.221,6.131 11.192,5.979 L10.427,1.961 C10.822,1.783 11.235,1.629 11.667,1.506 L11.667,1.407 C11.667,0.631 12.298,0.000 13.074,0.000 L14.926,0.000 C15.702,0.000 16.333,0.631 16.333,1.407 L16.333,1.506 C16.765,1.629 17.178,1.783 17.574,1.961 L16.808,5.979 C16.779,6.131 16.828,6.287 16.937,6.397 C17.025,6.485 17.144,6.533 17.267,6.533 C17.296,6.533 17.325,6.530 17.355,6.525 L21.545,5.719 C22.094,6.809 22.400,8.033 22.400,9.333 L22.400,9.800 L22.867,9.800 C23.125,9.800 23.333,10.008 23.333,10.267 C23.333,10.524 23.125,10.733 22.867,10.733 L21.933,10.733 L21.467,10.733 L21.467,12.600 C21.467,14.539 20.781,16.584 19.619,18.221 L20.053,19.954 C20.086,20.088 20.059,20.229 19.977,20.341 L19.770,20.626 C21.672,20.948 23.814,21.767 26.613,23.240 C27.469,23.690 28.000,24.570 28.000,25.538 L28.000,27.533 C28.000,27.791 27.791,28.000 27.533,28.000 ZM19.094,19.968 L18.885,19.131 C18.884,19.132 18.883,19.133 18.882,19.134 C17.754,20.361 16.319,21.225 14.701,21.422 C14.700,21.422 14.699,21.422 14.698,21.422 L15.965,24.271 L19.094,19.968 ZM15.764,27.063 L15.603,26.258 L15.484,25.666 L12.516,25.666 L12.236,27.066 L15.764,27.063 ZM12.035,24.271 L13.302,21.422 C13.301,21.422 13.300,21.422 13.299,21.422 C11.682,21.225 10.247,20.361 9.119,19.134 C9.118,19.133 9.116,19.132 9.115,19.131 L8.906,19.968 L12.035,24.271 ZM20.533,12.600 L20.533,10.733 L7.467,10.733 L7.467,12.600 C7.467,14.701 8.210,16.551 9.310,17.938 C9.326,17.954 9.347,17.963 9.361,17.982 C9.522,18.187 9.688,18.381 9.859,18.563 C9.860,18.563 9.861,18.564 9.862,18.565 C9.975,18.685 10.093,18.792 10.211,18.902 C11.352,19.930 12.706,20.533 14.000,20.533 C15.294,20.533 16.649,19.930 17.789,18.902 C17.907,18.792 18.025,18.685 18.138,18.565 C18.139,18.564 18.140,18.563 18.141,18.563 C18.312,18.380 18.478,18.187 18.639,17.982 C18.652,17.963 18.674,17.954 18.690,17.938 C19.790,16.551 20.533,14.701 20.533,12.600 ZM18.437,2.414 C19.497,3.044 20.384,3.879 21.047,4.864 L17.854,5.478 L18.437,2.414 ZM9.563,2.414 L10.146,5.478 L6.953,4.864 C7.616,3.879 8.503,3.044 9.563,2.414 Z"/>
                      <path fill="url(#PSgrad_0)"
                        d="M27.533,28.000 L16.159,28.000 C16.151,28.000 16.145,27.996 16.138,27.996 L11.842,27.999 C11.842,27.999 11.842,28.000 11.842,28.000 L11.667,28.000 L11.667,28.000 L0.466,28.000 C0.209,28.000 -0.000,27.791 -0.000,27.533 L-0.000,25.538 C-0.000,24.570 0.532,23.690 1.387,23.240 C4.186,21.767 6.328,20.949 8.230,20.626 L8.023,20.341 C7.942,20.229 7.914,20.088 7.947,19.954 L8.380,18.221 C7.220,16.584 6.533,14.539 6.533,12.600 L6.533,10.733 L6.067,10.733 L5.133,10.733 C4.876,10.733 4.667,10.524 4.667,10.267 C4.667,10.009 4.876,9.800 5.133,9.800 L5.600,9.800 L5.600,9.333 C5.600,8.033 5.907,6.809 6.455,5.719 L10.645,6.525 C10.674,6.531 10.704,6.533 10.733,6.533 C10.856,6.533 10.975,6.485 11.063,6.397 C11.172,6.287 11.221,6.131 11.192,5.979 L10.427,1.961 C10.822,1.783 11.235,1.629 11.667,1.506 L11.667,1.407 C11.667,0.631 12.298,0.000 13.074,0.000 L14.926,0.000 C15.702,0.000 16.333,0.631 16.333,1.407 L16.333,1.506 C16.765,1.629 17.178,1.783 17.574,1.961 L16.808,5.979 C16.779,6.131 16.828,6.287 16.937,6.397 C17.025,6.485 17.144,6.533 17.267,6.533 C17.296,6.533 17.325,6.530 17.355,6.525 L21.545,5.719 C22.094,6.809 22.400,8.033 22.400,9.333 L22.400,9.800 L22.867,9.800 C23.125,9.800 23.333,10.008 23.333,10.267 C23.333,10.524 23.125,10.733 22.867,10.733 L21.933,10.733 L21.467,10.733 L21.467,12.600 C21.467,14.539 20.781,16.584 19.619,18.221 L20.053,19.954 C20.086,20.088 20.059,20.229 19.977,20.341 L19.770,20.626 C21.672,20.948 23.814,21.767 26.613,23.240 C27.469,23.690 28.000,24.570 28.000,25.538 L28.000,27.533 C28.000,27.791 27.791,28.000 27.533,28.000 ZM19.094,19.968 L18.885,19.131 C18.884,19.132 18.883,19.133 18.882,19.134 C17.754,20.361 16.319,21.225 14.701,21.422 C14.700,21.422 14.699,21.422 14.698,21.422 L15.965,24.271 L19.094,19.968 ZM15.764,27.063 L15.603,26.258 L15.484,25.666 L12.516,25.666 L12.236,27.066 L15.764,27.063 ZM12.035,24.271 L13.302,21.422 C13.301,21.422 13.300,21.422 13.299,21.422 C11.682,21.225 10.247,20.361 9.119,19.134 C9.118,19.133 9.116,19.132 9.115,19.131 L8.906,19.968 L12.035,24.271 ZM20.533,12.600 L20.533,10.733 L7.467,10.733 L7.467,12.600 C7.467,14.701 8.210,16.551 9.310,17.938 C9.326,17.954 9.347,17.963 9.361,17.982 C9.522,18.187 9.688,18.381 9.859,18.563 C9.860,18.563 9.861,18.564 9.862,18.565 C9.975,18.685 10.093,18.792 10.211,18.902 C11.352,19.930 12.706,20.533 14.000,20.533 C15.294,20.533 16.649,19.930 17.789,18.902 C17.907,18.792 18.025,18.685 18.138,18.565 C18.139,18.564 18.140,18.563 18.141,18.563 C18.312,18.380 18.478,18.187 18.639,17.982 C18.652,17.963 18.674,17.954 18.690,17.938 C19.790,16.551 20.533,14.701 20.533,12.600 ZM18.437,2.414 C19.497,3.044 20.384,3.879 21.047,4.864 L17.854,5.478 L18.437,2.414 ZM9.563,2.414 L10.146,5.478 L6.953,4.864 C7.616,3.879 8.503,3.044 9.563,2.414 Z"/>
                        </svg>
                      </div>
                    </div>
                    <div class="right-box-detials-wrapper">
                        <div class="d-block">Architect</div>
                        <div class="d-block huge">{{ this.user_count.architect}}</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12">
          <div class="row">
              <div class="col-xl-12">
                <div class="block-bg-wrapper">
                  <div class="left-icon-wrapper bg-sky">
                      <div class="icon-wrapper icon-two">
                          <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="27px" height="30px">
                            <defs>
                            <linearGradient id="PSgrad_1" x1="50%" x2="0%" y1="0%" y2="86.603%">
                              <stop offset="0%" stop-color="rgb(17,207,255)" stop-opacity="1" />
                              <stop offset="100%" stop-color="rgb(17,160,252)" stop-opacity="1" />
                            </linearGradient>

                            </defs>
                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                            d="M20.640,8.858 C20.473,8.602 20.269,8.427 20.079,8.309 C20.079,7.990 20.057,7.540 19.981,7.021 C20.033,6.401 20.213,2.989 18.104,1.450 C16.804,0.501 15.356,-0.000 13.916,-0.000 C12.746,-0.000 11.632,0.329 10.779,0.927 C10.011,1.465 9.587,2.050 9.363,2.463 C8.701,2.486 7.328,2.753 6.721,4.486 C6.146,6.126 6.610,7.138 6.951,7.608 C6.929,7.879 6.921,8.118 6.920,8.309 C6.731,8.427 6.527,8.602 6.359,8.858 C5.979,9.439 5.915,10.217 6.167,11.172 C6.639,12.958 7.740,13.351 8.327,13.430 C8.689,14.146 9.484,15.610 10.280,16.345 C10.598,16.639 11.011,16.887 11.508,17.082 C12.143,17.331 12.813,17.458 13.500,17.458 C14.187,17.458 14.857,17.331 15.492,17.082 C15.989,16.887 16.402,16.639 16.720,16.345 C17.516,15.610 18.311,14.146 18.673,13.430 C19.260,13.351 20.361,12.958 20.833,11.172 C21.085,10.217 21.020,9.439 20.640,8.858 ZM19.491,10.825 C19.204,11.914 18.690,12.076 18.409,12.076 C18.389,12.076 18.374,12.075 18.365,12.074 C18.044,11.994 17.748,12.161 17.607,12.460 C17.333,13.044 16.468,14.700 15.774,15.342 C15.583,15.518 15.316,15.675 14.980,15.807 C14.038,16.177 12.962,16.177 12.020,15.807 C11.684,15.675 11.417,15.518 11.226,15.342 C10.532,14.700 9.667,13.044 9.392,12.460 C9.276,12.211 9.051,12.054 8.794,12.054 C8.742,12.054 8.689,12.061 8.634,12.074 C8.626,12.075 8.611,12.076 8.591,12.076 C8.310,12.076 7.796,11.914 7.509,10.825 C7.367,10.289 7.368,9.862 7.512,9.622 C7.595,9.483 7.714,9.436 7.753,9.424 C8.125,9.384 8.349,9.061 8.318,8.690 C8.317,8.681 8.293,8.362 8.324,7.877 C8.801,7.674 9.563,7.273 10.205,6.586 C10.532,6.236 10.772,5.808 10.942,5.414 C11.407,5.790 12.064,6.231 12.935,6.612 C14.425,7.265 17.404,7.576 18.661,7.682 C18.713,8.275 18.683,8.679 18.682,8.689 C18.649,9.061 18.874,9.384 19.247,9.424 C19.285,9.436 19.404,9.483 19.488,9.622 C19.632,9.862 19.633,10.289 19.491,10.825 ZM23.936,19.990 L17.876,17.590 C17.702,17.521 17.507,17.525 17.335,17.601 C17.164,17.678 17.031,17.819 16.967,17.994 L15.444,22.164 L15.142,21.305 L15.622,20.144 C15.709,19.932 15.685,19.691 15.556,19.501 C15.427,19.312 15.211,19.198 14.980,19.198 L12.020,19.198 C11.789,19.198 11.573,19.312 11.444,19.501 C11.315,19.691 11.291,19.932 11.378,20.144 L11.858,21.305 L11.556,22.164 L10.033,17.994 C9.969,17.819 9.836,17.677 9.665,17.601 C9.493,17.525 9.298,17.521 9.124,17.590 L3.063,19.990 C1.202,20.727 -0.000,22.486 -0.000,24.470 L-0.000,29.314 C-0.000,29.693 0.310,30.000 0.693,30.000 L26.307,30.000 C26.690,30.000 27.000,29.693 27.000,29.314 L27.000,24.470 C27.000,22.486 25.797,20.727 23.936,19.990 ZM23.726,26.450 C23.726,26.829 23.415,27.136 23.033,27.136 L18.379,27.136 C17.996,27.136 17.686,26.829 17.686,26.450 L17.686,24.310 C17.686,23.931 17.996,23.624 18.379,23.624 L23.033,23.624 C23.415,23.624 23.726,23.931 23.726,24.310 L23.726,26.450 L23.726,26.450 Z"/>
                            <path fill="url(#PSgrad_1)"
                            d="M20.640,8.858 C20.473,8.602 20.269,8.427 20.079,8.309 C20.079,7.990 20.057,7.540 19.981,7.021 C20.033,6.401 20.213,2.989 18.104,1.450 C16.804,0.501 15.356,-0.000 13.916,-0.000 C12.746,-0.000 11.632,0.329 10.779,0.927 C10.011,1.465 9.587,2.050 9.363,2.463 C8.701,2.486 7.328,2.753 6.721,4.486 C6.146,6.126 6.610,7.138 6.951,7.608 C6.929,7.879 6.921,8.118 6.920,8.309 C6.731,8.427 6.527,8.602 6.359,8.858 C5.979,9.439 5.915,10.217 6.167,11.172 C6.639,12.958 7.740,13.351 8.327,13.430 C8.689,14.146 9.484,15.610 10.280,16.345 C10.598,16.639 11.011,16.887 11.508,17.082 C12.143,17.331 12.813,17.458 13.500,17.458 C14.187,17.458 14.857,17.331 15.492,17.082 C15.989,16.887 16.402,16.639 16.720,16.345 C17.516,15.610 18.311,14.146 18.673,13.430 C19.260,13.351 20.361,12.958 20.833,11.172 C21.085,10.217 21.020,9.439 20.640,8.858 ZM19.491,10.825 C19.204,11.914 18.690,12.076 18.409,12.076 C18.389,12.076 18.374,12.075 18.365,12.074 C18.044,11.994 17.748,12.161 17.607,12.460 C17.333,13.044 16.468,14.700 15.774,15.342 C15.583,15.518 15.316,15.675 14.980,15.807 C14.038,16.177 12.962,16.177 12.020,15.807 C11.684,15.675 11.417,15.518 11.226,15.342 C10.532,14.700 9.667,13.044 9.392,12.460 C9.276,12.211 9.051,12.054 8.794,12.054 C8.742,12.054 8.689,12.061 8.634,12.074 C8.626,12.075 8.611,12.076 8.591,12.076 C8.310,12.076 7.796,11.914 7.509,10.825 C7.367,10.289 7.368,9.862 7.512,9.622 C7.595,9.483 7.714,9.436 7.753,9.424 C8.125,9.384 8.349,9.061 8.318,8.690 C8.317,8.681 8.293,8.362 8.324,7.877 C8.801,7.674 9.563,7.273 10.205,6.586 C10.532,6.236 10.772,5.808 10.942,5.414 C11.407,5.790 12.064,6.231 12.935,6.612 C14.425,7.265 17.404,7.576 18.661,7.682 C18.713,8.275 18.683,8.679 18.682,8.689 C18.649,9.061 18.874,9.384 19.247,9.424 C19.285,9.436 19.404,9.483 19.488,9.622 C19.632,9.862 19.633,10.289 19.491,10.825 ZM23.936,19.990 L17.876,17.590 C17.702,17.521 17.507,17.525 17.335,17.601 C17.164,17.678 17.031,17.819 16.967,17.994 L15.444,22.164 L15.142,21.305 L15.622,20.144 C15.709,19.932 15.685,19.691 15.556,19.501 C15.427,19.312 15.211,19.198 14.980,19.198 L12.020,19.198 C11.789,19.198 11.573,19.312 11.444,19.501 C11.315,19.691 11.291,19.932 11.378,20.144 L11.858,21.305 L11.556,22.164 L10.033,17.994 C9.969,17.819 9.836,17.677 9.665,17.601 C9.493,17.525 9.298,17.521 9.124,17.590 L3.063,19.990 C1.202,20.727 -0.000,22.486 -0.000,24.470 L-0.000,29.314 C-0.000,29.693 0.310,30.000 0.693,30.000 L26.307,30.000 C26.690,30.000 27.000,29.693 27.000,29.314 L27.000,24.470 C27.000,22.486 25.797,20.727 23.936,19.990 ZM23.726,26.450 C23.726,26.829 23.415,27.136 23.033,27.136 L18.379,27.136 C17.996,27.136 17.686,26.829 17.686,26.450 L17.686,24.310 C17.686,23.931 17.996,23.624 18.379,23.624 L23.033,23.624 C23.415,23.624 23.726,23.931 23.726,24.310 L23.726,26.450 L23.726,26.450 Z"/>
                            </svg>
                        </div>
                  </div>
                  <div class="right-box-detials-wrapper">
                      <div class="d-block">Landlord</div>
                      <div class="d-block huge">{{ this.user_count.landlord}}</div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12">
          <div class="row">
              <div class="col-xl-12">
                <div class="block-bg-wrapper">
                  <div class="left-icon-wrapper bg-green-light">
                      <div class="icon-wrapper icon-three">
                          <svg 
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          width="24px" height="30px">
                         <defs>
                         <linearGradient id="PSgrad_2" x1="50%" x2="0%" y1="0%" y2="86.603%">
                           <stop offset="0%" stop-color="rgb(0,217,188)" stop-opacity="1" />
                           <stop offset="100%" stop-color="rgb(0,216,121)" stop-opacity="1" />
                         </linearGradient>
                         
                         </defs>
                         <path fill-rule="evenodd"  fill="rgb(9, 16, 35)"
                          d="M22.446,29.996 L14.180,29.996 L12.921,22.931 C13.487,22.923 13.902,22.408 13.768,21.865 L13.409,20.403 C13.367,20.235 13.278,20.091 13.157,19.980 C13.194,19.954 13.228,19.927 13.264,19.899 L16.469,17.286 L18.395,17.735 C21.702,18.500 23.999,21.246 23.999,24.397 L23.999,28.532 C23.999,29.346 23.328,29.996 22.446,29.996 ZM18.182,12.926 C17.037,15.685 14.765,17.961 12.075,17.961 C9.392,17.961 7.124,15.695 5.976,12.945 C5.125,12.813 4.317,12.164 4.189,10.640 C4.067,9.183 4.559,8.588 5.185,8.353 C5.288,5.681 5.949,4.032 6.919,3.017 C7.523,2.243 8.537,1.493 9.189,1.102 C14.318,-1.975 16.946,2.410 16.946,2.410 C16.946,2.410 20.464,3.410 19.188,8.521 C19.647,8.834 19.959,9.448 19.859,10.641 C19.737,12.098 18.991,12.756 18.182,12.926 ZM17.675,8.996 C17.307,7.723 16.587,6.008 15.202,4.651 C13.742,6.203 11.057,7.992 6.519,7.797 C6.490,8.201 6.475,8.637 6.475,9.107 C6.475,12.537 8.973,16.679 12.075,16.679 C15.178,16.679 17.676,12.537 17.676,9.106 C17.676,9.069 17.675,9.033 17.675,8.996 ZM7.591,17.286 L10.800,19.899 C10.835,19.927 10.871,19.954 10.908,19.980 C10.788,20.091 10.699,20.235 10.657,20.403 L10.298,21.865 C10.165,22.408 10.579,22.922 11.145,22.930 L9.885,29.995 L1.619,29.995 C0.738,29.995 0.001,29.346 0.001,28.532 L0.001,24.396 C0.001,21.246 2.331,18.500 5.638,17.735 L7.591,17.286 Z"/>
                         <path fill="url(#PSgrad_2)"
                          d="M22.446,29.996 L14.180,29.996 L12.921,22.931 C13.487,22.923 13.902,22.408 13.768,21.865 L13.409,20.403 C13.367,20.235 13.278,20.091 13.157,19.980 C13.194,19.954 13.228,19.927 13.264,19.899 L16.469,17.286 L18.395,17.735 C21.702,18.500 23.999,21.246 23.999,24.397 L23.999,28.532 C23.999,29.346 23.328,29.996 22.446,29.996 ZM18.182,12.926 C17.037,15.685 14.765,17.961 12.075,17.961 C9.392,17.961 7.124,15.695 5.976,12.945 C5.125,12.813 4.317,12.164 4.189,10.640 C4.067,9.183 4.559,8.588 5.185,8.353 C5.288,5.681 5.949,4.032 6.919,3.017 C7.523,2.243 8.537,1.493 9.189,1.102 C14.318,-1.975 16.946,2.410 16.946,2.410 C16.946,2.410 20.464,3.410 19.188,8.521 C19.647,8.834 19.959,9.448 19.859,10.641 C19.737,12.098 18.991,12.756 18.182,12.926 ZM17.675,8.996 C17.307,7.723 16.587,6.008 15.202,4.651 C13.742,6.203 11.057,7.992 6.519,7.797 C6.490,8.201 6.475,8.637 6.475,9.107 C6.475,12.537 8.973,16.679 12.075,16.679 C15.178,16.679 17.676,12.537 17.676,9.106 C17.676,9.069 17.675,9.033 17.675,8.996 ZM7.591,17.286 L10.800,19.899 C10.835,19.927 10.871,19.954 10.908,19.980 C10.788,20.091 10.699,20.235 10.657,20.403 L10.298,21.865 C10.165,22.408 10.579,22.922 11.145,22.930 L9.885,29.995 L1.619,29.995 C0.738,29.995 0.001,29.346 0.001,28.532 L0.001,24.396 C0.001,21.246 2.331,18.500 5.638,17.735 L7.591,17.286 Z"/>
                         </svg>
                        </div>
                  </div>
                  <div class="right-box-detials-wrapper">
                      <div class="d-block">Broker</div>
                      <div class="d-block huge">{{ this.user_count.broker}}</div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="raw">
        <section class="col-xl-12 connectedSortable p-0">
          <div class="card">
            <div class="card-header d-flex p-0">
              <h3 class="card-title p-3">
                <i class="fa fa-pie-chart mr-1"></i>
                Sales
              </h3>
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item">
                  <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="300" version="1.1" width="863.156" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.5px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="51.515625" y="261" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,261H838.156" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="202" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,202H838.156" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="143" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,143H838.156" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="84.00000000000003" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,84.00000000000003H838.156" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="25.00000000000003" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,25.00000000000003H838.156" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="696.1205241494531" y="273.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan></text><text x="351.8491058626974" y="273.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><path fill="#579de7" stroke="none" d="M64.015625,219.05493333333334C85.65016767922235,219.56626666666668,128.91925303766703,222.62345,150.5537957168894,221.10026666666667C172.18833839611176,219.57708333333335,215.45742375455646,209.1355825136612,237.09196643377882,206.86946666666668C258.49135104040096,204.6279825136612,301.29012025364517,204.88215,322.6895048602673,203.06986666666666C344.0888894668894,201.25758333333332,386.8876586801336,194.9129178506375,408.2870432867557,192.3712C429.92158596597807,189.80155118397084,473.1906713244228,182.51721666666668,494.82521400364516,182.6244C516.4597566828675,182.73158333333333,559.7288420413122,204.18057122040074,581.3633847205346,193.22866666666667C602.7627693271567,182.39580455373408,645.5615385404009,101.94395359116024,666.960923147023,95.48533333333336C688.1251496810448,89.09768692449357,730.4536027490886,135.13802307692308,751.6178292831105,141.8436C773.2523719623329,148.69818974358975,816.5214573207776,147.7554,838.156,149.726L838.156,261L64.015625,261Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#007cff" d="M64.015625,219.05493333333334C85.65016767922235,219.56626666666668,128.91925303766703,222.62345,150.5537957168894,221.10026666666667C172.18833839611176,219.57708333333335,215.45742375455646,209.1355825136612,237.09196643377882,206.86946666666668C258.49135104040096,204.6279825136612,301.29012025364517,204.88215,322.6895048602673,203.06986666666666C344.0888894668894,201.25758333333332,386.8876586801336,194.9129178506375,408.2870432867557,192.3712C429.92158596597807,189.80155118397084,473.1906713244228,182.51721666666668,494.82521400364516,182.6244C516.4597566828675,182.73158333333333,559.7288420413122,204.18057122040074,581.3633847205346,193.22866666666667C602.7627693271567,182.39580455373408,645.5615385404009,101.94395359116024,666.960923147023,95.48533333333336C688.1251496810448,89.09768692449357,730.4536027490886,135.13802307692308,751.6178292831105,141.8436C773.2523719623329,148.69818974358975,816.5214573207776,147.7554,838.156,149.726" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="64.015625" cy="219.05493333333334" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="150.5537957168894" cy="221.10026666666667" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="237.09196643377882" cy="206.86946666666668" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="322.6895048602673" cy="203.06986666666666" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="408.2870432867557" cy="192.3712" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="494.82521400364516" cy="182.6244" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="581.3633847205346" cy="193.22866666666667" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="666.960923147023" cy="95.48533333333336" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="751.6178292831105" cy="141.8436" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="838.156" cy="149.726" r="4" fill="#007cff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#5d646a" stroke="none" d="M64.015625,240.02746666666667C85.65016767922235,239.8072,128.91925303766703,241.35496666666666,150.5537957168894,239.1464C172.18833839611176,236.93783333333334,215.45742375455646,223.33676429872497,237.09196643377882,222.35893333333334C258.49135104040096,221.39173096539162,301.29012025364517,233.23263333333333,322.6895048602673,231.36626666666666C344.0888894668894,229.4999,386.8876586801336,209.2890577413479,408.2870432867557,207.428C429.92158596597807,205.54649107468123,473.1906713244228,214.43916666666667,494.82521400364516,216.39600000000002C516.4597566828675,218.35283333333334,559.7288420413122,232.37947613843352,581.3633847205346,223.08266666666668C602.7627693271567,213.88690947176687,645.5615385404009,148.2268241252302,666.960923147023,142.42573333333334C688.1251496810448,136.68839079189686,730.4536027490886,170.47037838827842,751.6178292831105,176.92893333333336C773.2523719623329,183.53101172161175,816.5214573207776,190.23343333333335,838.156,194.66826666666668L838.156,261L64.015625,261Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#495057" d="M64.015625,240.02746666666667C85.65016767922235,239.8072,128.91925303766703,241.35496666666666,150.5537957168894,239.1464C172.18833839611176,236.93783333333334,215.45742375455646,223.33676429872497,237.09196643377882,222.35893333333334C258.49135104040096,221.39173096539162,301.29012025364517,233.23263333333333,322.6895048602673,231.36626666666666C344.0888894668894,229.4999,386.8876586801336,209.2890577413479,408.2870432867557,207.428C429.92158596597807,205.54649107468123,473.1906713244228,214.43916666666667,494.82521400364516,216.39600000000002C516.4597566828675,218.35283333333334,559.7288420413122,232.37947613843352,581.3633847205346,223.08266666666668C602.7627693271567,213.88690947176687,645.5615385404009,148.2268241252302,666.960923147023,142.42573333333334C688.1251496810448,136.68839079189686,730.4536027490886,170.47037838827842,751.6178292831105,176.92893333333336C773.2523719623329,183.53101172161175,816.5214573207776,190.23343333333335,838.156,194.66826666666668" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="64.015625" cy="240.02746666666667" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="150.5537957168894" cy="239.1464" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="237.09196643377882" cy="222.35893333333334" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="322.6895048602673" cy="231.36626666666666" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="408.2870432867557" cy="207.428" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="494.82521400364516" cy="216.39600000000002" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="581.3633847205346" cy="223.08266666666668" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="666.960923147023" cy="142.42573333333334" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="751.6178292831105" cy="176.92893333333336" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="838.156" cy="194.66826666666668" r="4" fill="#495057" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 16.25px; top: 141px; display: none;"><div class="morris-hover-row-label">2011 Q1</div><div class="morris-hover-point" style="color: #495057">
                Item 1:
                2,666
              </div><div class="morris-hover-point" style="color: gold">
                Item 2:
                2,666
              </div>
              </div></div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="row">
        <div class="col-xl-12 col-lg-12"> 
            <div class="row">
                <div class="col-xl-12">
                  <div class="block-bg-wrapper">
                    <div class="left-icon-wrapper bg-green-drak">
                        <div class="icon-wrapper icon-four">
                            <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="40px" height="43px">
                           <defs>
                           <filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="40px" height="43px"  >
                               <feOffset in="SourceAlpha" dx="0" dy="4" />
                               <feGaussianBlur result="blurOut" stdDeviation="2.646" />
                               <feFlood flood-color="rgb(0, 0, 0)" result="floodOut" />
                               <feComposite operator="atop" in="floodOut" in2="blurOut" />
                               <feComponentTransfer><feFuncA type="linear" slope="0.04"/></feComponentTransfer>
                               <feMerge>
                               <feMergeNode/>
                               <feMergeNode in="SourceGraphic"/>
                             </feMerge>
                           </filter>
                           <linearGradient id="PSgrad_3" x1="50%" x2="0%" y1="0%" y2="86.603%">
                             <stop offset="0%" stop-color="rgb(0,213,201)" stop-opacity="1" />
                             <stop offset="100%" stop-color="rgb(0,173,203)" stop-opacity="1" />
                           </linearGradient>
                           
                           </defs>
                           <g filter="url(#Filter_0)">
                           <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                            d="M26.832,13.172 C26.361,14.958 25.260,15.351 24.673,15.430 C24.311,16.146 23.515,17.610 22.720,18.345 C22.402,18.639 21.988,18.887 21.492,19.082 C20.857,19.332 20.187,19.458 19.500,19.458 C18.813,19.458 18.143,19.332 17.508,19.082 C17.011,18.887 16.598,18.639 16.280,18.345 C15.484,17.610 14.689,16.146 14.327,15.430 C13.740,15.351 12.639,14.958 12.167,13.172 C11.915,12.217 11.979,11.439 12.359,10.858 C12.527,10.602 12.731,10.427 12.920,10.309 C12.921,10.118 12.929,9.879 12.951,9.608 C12.610,9.138 12.146,8.126 12.721,6.486 C13.328,4.753 14.701,4.486 15.363,4.463 C15.587,4.050 16.011,3.465 16.779,2.927 C17.632,2.329 18.746,2.000 19.916,2.000 C21.355,2.000 22.804,2.501 24.104,3.450 C26.213,4.988 26.032,8.401 25.981,9.020 C26.057,9.540 26.078,9.990 26.079,10.309 C26.269,10.427 26.472,10.602 26.640,10.858 C27.020,11.439 27.085,12.217 26.832,13.172 ZM33.000,26.470 L33.000,31.314 C33.000,31.693 32.689,32.000 32.307,32.000 L6.693,32.000 C6.310,32.000 6.000,31.693 6.000,31.314 L6.000,26.470 C6.000,24.486 7.202,22.727 9.063,21.990 L15.124,19.590 C15.298,19.521 15.493,19.525 15.665,19.601 C15.836,19.677 15.969,19.819 16.033,19.994 L17.556,24.164 L17.858,23.305 L17.378,22.144 C17.291,21.932 17.315,21.691 17.444,21.502 C17.573,21.312 17.789,21.198 18.020,21.198 L20.980,21.198 C21.211,21.198 21.427,21.312 21.556,21.502 C21.684,21.691 21.709,21.932 21.622,22.144 L21.142,23.305 L21.443,24.164 L22.967,19.994 C23.031,19.819 23.164,19.677 23.335,19.601 C23.507,19.525 23.702,19.521 23.876,19.590 L29.936,21.990 C31.797,22.727 33.000,24.486 33.000,26.470 ZM29.310,26.997 C29.310,26.618 29.000,26.310 28.617,26.310 L23.963,26.310 C23.580,26.310 23.270,26.618 23.270,26.997 L23.270,29.136 C23.270,29.515 23.580,29.823 23.963,29.823 L28.617,29.823 C29.000,29.823 29.310,29.515 29.310,29.136 L29.310,26.997 L29.310,26.997 Z"/>
                           </g>
                           <path fill="url(#PSgrad_3)"
                            d="M26.832,13.172 C26.361,14.958 25.260,15.351 24.673,15.430 C24.311,16.146 23.515,17.610 22.720,18.345 C22.402,18.639 21.988,18.887 21.492,19.082 C20.857,19.332 20.187,19.458 19.500,19.458 C18.813,19.458 18.143,19.332 17.508,19.082 C17.011,18.887 16.598,18.639 16.280,18.345 C15.484,17.610 14.689,16.146 14.327,15.430 C13.740,15.351 12.639,14.958 12.167,13.172 C11.915,12.217 11.979,11.439 12.359,10.858 C12.527,10.602 12.731,10.427 12.920,10.309 C12.921,10.118 12.929,9.879 12.951,9.608 C12.610,9.138 12.146,8.126 12.721,6.486 C13.328,4.753 14.701,4.486 15.363,4.463 C15.587,4.050 16.011,3.465 16.779,2.927 C17.632,2.329 18.746,2.000 19.916,2.000 C21.355,2.000 22.804,2.501 24.104,3.450 C26.213,4.988 26.032,8.401 25.981,9.020 C26.057,9.540 26.078,9.990 26.079,10.309 C26.269,10.427 26.472,10.602 26.640,10.858 C27.020,11.439 27.085,12.217 26.832,13.172 ZM33.000,26.470 L33.000,31.314 C33.000,31.693 32.689,32.000 32.307,32.000 L6.693,32.000 C6.310,32.000 6.000,31.693 6.000,31.314 L6.000,26.470 C6.000,24.486 7.202,22.727 9.063,21.990 L15.124,19.590 C15.298,19.521 15.493,19.525 15.665,19.601 C15.836,19.677 15.969,19.819 16.033,19.994 L17.556,24.164 L17.858,23.305 L17.378,22.144 C17.291,21.932 17.315,21.691 17.444,21.502 C17.573,21.312 17.789,21.198 18.020,21.198 L20.980,21.198 C21.211,21.198 21.427,21.312 21.556,21.502 C21.684,21.691 21.709,21.932 21.622,22.144 L21.142,23.305 L21.443,24.164 L22.967,19.994 C23.031,19.819 23.164,19.677 23.335,19.601 C23.507,19.525 23.702,19.521 23.876,19.590 L29.936,21.990 C31.797,22.727 33.000,24.486 33.000,26.470 ZM29.310,26.997 C29.310,26.618 29.000,26.310 28.617,26.310 L23.963,26.310 C23.580,26.310 23.270,26.618 23.270,26.997 L23.270,29.136 C23.270,29.515 23.580,29.823 23.963,29.823 L28.617,29.823 C29.000,29.823 29.310,29.515 29.310,29.136 L29.310,26.997 L29.310,26.997 Z"/>
                           </svg>
                          </div>
                    </div>
                    <div class="right-box-detials-wrapper">
                        <div class="d-block">Total User</div>
                        <div class="d-block huge">{{ this.user_count.total}}</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12">
          <div class="row">
              <div class="col-xl-12">
                <div class="block-bg-wrapper">
                  <div class="left-icon-wrapper bg-violate">
                      <div class="icon-wrapper icon-five">
                          <svg 
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          width="39px" height="39px">
                         <defs>
                         <filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="39px" height="39px"  >
                             <feOffset in="SourceAlpha" dx="0" dy="4" />
                             <feGaussianBlur result="blurOut" stdDeviation="2.646" />
                             <feFlood flood-color="rgb(0, 0, 0)" result="floodOut" />
                             <feComposite operator="atop" in="floodOut" in2="blurOut" />
                             <feComponentTransfer><feFuncA type="linear" slope="0.04"/></feComponentTransfer>
                             <feMerge>
                             <feMergeNode/>
                             <feMergeNode in="SourceGraphic"/>
                           </feMerge>
                         </filter>
                         <linearGradient id="PSgrad_4" x1="50%" x2="0%" y1="0%" y2="86.603%">
                           <stop offset="0%" stop-color="rgb(202,158,255)" stop-opacity="1" />
                           <stop offset="100%" stop-color="rgb(152,86,238)" stop-opacity="1" />
                         </linearGradient>
                         
                         </defs>
                         <g filter="url(#Filter_0)">
                         <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                          d="M25.217,28.000 L25.217,20.087 L20.696,20.087 L20.696,28.000 L6.000,28.000 L6.000,11.609 L13.913,11.609 L13.913,2.000 L32.000,2.000 L32.000,28.000 L25.217,28.000 ZM13.913,13.304 L7.696,13.304 L7.696,26.304 L13.913,26.304 L13.913,13.304 ZM19.000,6.522 L16.739,6.522 L16.739,8.782 L19.000,8.782 L19.000,6.522 ZM19.000,11.043 L16.739,11.043 L16.739,13.304 L19.000,13.304 L19.000,11.043 ZM19.000,15.565 L16.739,15.565 L16.739,17.826 L19.000,17.826 L19.000,15.565 ZM19.000,20.087 L16.739,20.087 L16.739,22.348 L19.000,22.348 L19.000,20.087 ZM24.087,6.522 L21.826,6.522 L21.826,8.782 L24.087,8.782 L24.087,6.522 ZM24.087,11.043 L21.826,11.043 L21.826,13.304 L24.087,13.304 L24.087,11.043 ZM24.087,15.565 L21.826,15.565 L21.826,17.826 L24.087,17.826 L24.087,15.565 ZM29.174,6.522 L26.913,6.522 L26.913,8.782 L29.174,8.782 L29.174,6.522 ZM29.174,11.043 L26.913,11.043 L26.913,13.304 L29.174,13.304 L29.174,11.043 ZM29.174,15.565 L26.913,15.565 L26.913,17.826 L29.174,17.826 L29.174,15.565 ZM29.174,20.087 L26.913,20.087 L26.913,22.348 L29.174,22.348 L29.174,20.087 ZM12.217,17.826 L9.391,17.826 L9.391,15.565 L12.217,15.565 L12.217,17.826 ZM12.217,22.348 L9.391,22.348 L9.391,20.087 L12.217,20.087 L12.217,22.348 Z"/>
                         </g>
                         <path fill="url(#PSgrad_4)"
                          d="M25.217,28.000 L25.217,20.087 L20.696,20.087 L20.696,28.000 L6.000,28.000 L6.000,11.609 L13.913,11.609 L13.913,2.000 L32.000,2.000 L32.000,28.000 L25.217,28.000 ZM13.913,13.304 L7.696,13.304 L7.696,26.304 L13.913,26.304 L13.913,13.304 ZM19.000,6.522 L16.739,6.522 L16.739,8.782 L19.000,8.782 L19.000,6.522 ZM19.000,11.043 L16.739,11.043 L16.739,13.304 L19.000,13.304 L19.000,11.043 ZM19.000,15.565 L16.739,15.565 L16.739,17.826 L19.000,17.826 L19.000,15.565 ZM19.000,20.087 L16.739,20.087 L16.739,22.348 L19.000,22.348 L19.000,20.087 ZM24.087,6.522 L21.826,6.522 L21.826,8.782 L24.087,8.782 L24.087,6.522 ZM24.087,11.043 L21.826,11.043 L21.826,13.304 L24.087,13.304 L24.087,11.043 ZM24.087,15.565 L21.826,15.565 L21.826,17.826 L24.087,17.826 L24.087,15.565 ZM29.174,6.522 L26.913,6.522 L26.913,8.782 L29.174,8.782 L29.174,6.522 ZM29.174,11.043 L26.913,11.043 L26.913,13.304 L29.174,13.304 L29.174,11.043 ZM29.174,15.565 L26.913,15.565 L26.913,17.826 L29.174,17.826 L29.174,15.565 ZM29.174,20.087 L26.913,20.087 L26.913,22.348 L29.174,22.348 L29.174,20.087 ZM12.217,17.826 L9.391,17.826 L9.391,15.565 L12.217,15.565 L12.217,17.826 ZM12.217,22.348 L9.391,22.348 L9.391,20.087 L12.217,20.087 L12.217,22.348 Z"/>
                         </svg>
                        </div>
                  </div>
                  <div class="right-box-detials-wrapper">
                      <div class="d-block">Total Building</div>
                      <div class="d-block huge">0</div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12">
          <div class="row">
              <div class="col-xl-12">
                <div class="block-bg-wrapper">
                  <div class="left-icon-wrapper bg-orange">
                      <div class="icon-wrapper icon-six">
                          <svg 
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          width="43px" height="42px">
                          <defs>
                          <filter filterUnits="userSpaceOnUse" id="Filter_1" x="0px" y="0px" width="43px" height="42px"  >
                              <feOffset in="SourceAlpha" dx="0" dy="4" />
                              <feGaussianBlur result="blurOut" stdDeviation="2.646" />
                              <feFlood flood-color="rgb(0, 0, 0)" result="floodOut" />
                              <feComposite operator="atop" in="floodOut" in2="blurOut" />
                              <feComponentTransfer><feFuncA type="linear" slope="0.04"/></feComponentTransfer>
                              <feMerge>
                              <feMergeNode/>
                              <feMergeNode in="SourceGraphic"/>
                            </feMerge>
                          </filter>
                          <linearGradient id="PSgrad_5" x1="50%" x2="0%" y1="0%" y2="86.603%">
                            <stop offset="0%" stop-color="rgb(255,143,32)" stop-opacity="1" />
                            <stop offset="100%" stop-color="rgb(255,101,85)" stop-opacity="1" />
                          </linearGradient>

                          </defs>
                          <g filter="url(#Filter_1)">
                          <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                          d="M21.931,15.686 L21.931,1.991 C29.695,1.994 35.991,8.123 35.991,15.681 L35.991,15.686 L21.931,15.686 ZM21.236,31.007 C17.361,31.007 13.852,29.479 11.307,27.009 L21.262,17.320 L35.299,17.320 C35.296,24.880 29.001,31.007 21.236,31.007 ZM5.989,15.681 C5.989,8.121 12.283,1.991 20.050,1.991 C20.051,1.991 20.052,1.991 20.053,1.991 L20.053,15.686 L20.076,15.686 L10.122,25.376 C7.568,22.898 5.989,19.470 5.989,15.681 Z"/>
                          </g>
                          <path fill="url(#PSgrad_5)"
                          d="M21.931,15.686 L21.931,1.991 C29.695,1.994 35.991,8.123 35.991,15.681 L35.991,15.686 L21.931,15.686 ZM21.236,31.007 C17.361,31.007 13.852,29.479 11.307,27.009 L21.262,17.320 L35.299,17.320 C35.296,24.880 29.001,31.007 21.236,31.007 ZM5.989,15.681 C5.989,8.121 12.283,1.991 20.050,1.991 C20.051,1.991 20.052,1.991 20.053,1.991 L20.053,15.686 L20.076,15.686 L10.122,25.376 C7.568,22.898 5.989,19.470 5.989,15.681 Z"/>
                          </svg>
                        </div>
                  </div>
                  <div class="right-box-detials-wrapper">
                      <div class="d-block">Total Area</div>
                      <div class="d-block huge">0</div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
      </div>    
    </div>
  </div>

  <div class="col-xl-12">
    <div class="row">
      <div class="card col-xl-12 p-0 bg-card-wrapper" >
        <div class="card-header border-transparent ">
          <h3 class="card-title" style="height: 26px">Building</h3>

          <div class="card-tools bg-table-btn-wrapper">
            <button type="button" class="btn" > view all
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
              <table class="table m-0">

                  <tr  *ngFor="let building of buildings; let i = index">
                      <td>
                          <img src="{{building.building_image}}" width="100px" height="100px">&nbsp;
                          {{building.building_address}},{{building.building_city}},
                          {{building.building_zipcode}}
                      </td>
                    <td colspan="6" style="padding: 0 !important;border-left: 1px solid #efeded;">
                      <table class="table m-0 inner-table" cellspacing="0">
                        <tr>
                          <th>Building Id</th>
                          <th>Building Name</th>
                          <th>Owner Name</th>
                          <th>Longitude</th>
                          <th>Floor Plans</th>
                        </tr>
                        <td>{{building.building_id}}</td>
                        <td>{{building.building_name}}</td>
                        <td>{{building.owner_name}}</td>
                        <td>{{building.building_coordinate}}</td>
                        <td>-</td>
                      </table>
                    </td>

                  </tr>
              </table>
          </div>
            <!-- /.table-responsive -->
        </div>
          <!-- /.card-body -->

      </div>
        <!-- /.col -->
    </div>
  </div>

</div>

