<div class="col-xl-12">
  <div class="row">
    <div class="card col-xl-12 p-0 bg-card-wrapper" >
      <div class="card-header border-transparent ">
        <h2 class="card-title" style="height: 25px">Building</h2>

        <div class="card-tools bg-table-btn-wrapper">
          <a class="btn" href="add-building"> <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add Building</a>
          <button type="button" class="btn" > view all
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table m-0">
            <tr  *ngFor="let building of buildings; let i = index">
              <td>
                <img src="{{building.building_image}}" width="70px" height="70px">&nbsp;
                {{building.building_address}},{{building.building_city}},
                {{building.building_zipcode}}
              </td>
              <td colspan="6" style="padding: 0 !important;border-left: 1px solid #efeded;">
                <table class="table m-0 inner-table" cellspacing="0">
                  <tr>
                    <th width="12%">Building Id</th>
                    <th width="15%">Building Name</th>
                    <th width="13%">Owner Name</th>
                    <th width="42%">Longitude</th>
                    <th width="18%">Floor Plans</th>
                    <th width="10%">Edit</th>
                    <th width="8%">Action</th>
                  </tr>
                  <tr>
                    <td>{{building.id}}</td>
                    <td>{{building.building_name}}</td>
                    <td>{{building.owner_name}}</td>
                    <td>{{building.building_coordinate}}</td>
                    <td><div *ngFor="let floor of building.floor_data">
                      <button (click)="showModal(floorPlant, floor.file_urn)">
                        <i class="fa fa-fw fa-file"></i></button>
                        </div>
                    </td>
                    <td> <a routerLink="/edit-building/{{building.id}}"  class="list-group-item">
                      <span>edit</span>
                    </a></td>
                    <td><button class="btn btn-sm btn-primary" (click)="openModal(template)">Share</button> </td>
                  </tr>
                  <!--model start here-->
                  <ng-template #template>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">Get Sharable Link</h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="subscription" (click)="onSubmit()" class="customform">
                        <a class="link">https://ng-bootstrap.github.io/#/components/progressbar/examples</a>
                        <button class="btn btn-sm btn-info copybtn">Copy link</button>
                        <div class="form-group" style="margin-top: 10px;">
                          <label>Add Users:</label><br>
                          <input type="text" class="search-input" placeholder="Search.." name="search">
                          <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                        </div>

                        <div class="form-group" style="margin-top: 15px;margin-bottom: 15px;width: 100%;float: left">
                          <label class="col-sm-5" style="margin-left: -15px;">Users Name</label>
                          <select class="modal-select col-sm-6">
                            <option>User Admin</option>
                            <option>Read Only</option>
                          </select>
                          <a  class="col-sm-1 modal-delete">
                            <i class="fa fa-fw fa-trash-o"></i>&nbsp;
                          </a>
                        </div>





                        <hr style="clear: both;margin-top: 15px; display: inline-block ;width: 100%;">
                        <!--<button type="submit" class="btn btn-danger display-4 pull-right" style="margin-left: 10px;">Cancel</button>-->
                        <button type="submit" class="btn btn-success display-4 pull-right">Save</button>

                      </form>
                    </div>
                  </ng-template>
                </table>
              </td>
            </tr>
          </table>

        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.col -->
  </div>
</div>





<ng-template #floorPlant let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Floor Plans</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="viewer" id="viewer_div"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<style type="text/css">
  .viewer {
  position: relative;
  width: 100%;
  height: 450px;
}
</style>
